In [2]:
import pandas as pd

In [3]:
%time df = pd.read_csv("201306-citibike-tripdata.csv")

CPU times: total: 2.05 s
Wall time: 2.06 s

In [4]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [5]:
df.isnull().sum()

tripduration                    0
starttime                       0
stoptime                        0
start station id                0
start station name              0
start station latitude          0
start station longitude         0
end station id              18059
end station name            18059
end station latitude        18059
end station longitude       18059
bikeid                          0
usertype                        0
birth year                 240321
gender                          0
dtype: int64

In [6]:
df.rename(columns = {'tripduration' : 'trip_duration'}, inplace=1)

In [7]:
df.columns

Index(['trip_duration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [8]:
df.isnull().sum()

trip_duration                   0
starttime                       0
stoptime                        0
start station id                0
start station name              0
start station latitude          0
start station longitude         0
end station id              18059
end station name            18059
end station latitude        18059
end station longitude       18059
bikeid                          0
usertype                        0
birth year                 240321
gender                          0
dtype: int64

In [11]:
df[df["end station id"].isnull()]

,trip_duration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
56,547,2013-06-01 00:11:04,2013-06-01 00:20:11,432,E 7 St & Avenue A,40.726218,-73.983799,NaN,NaN,NaN,NaN,17470,Subscriber,1980.0,1
102,537,2013-06-01 00:40:27,2013-06-01 00:49:24,482,W 15 St & 7 Ave,40.739355,-73.999318,NaN,NaN,NaN,NaN,15090,Subscriber,1981.0,1
120,472,2013-06-01 00:47:51,2013-06-01 00:55:43,528,2 Ave & E 31 St,40.742909,-73.977061,NaN,NaN,NaN,NaN,16257,Subscriber,1965.0,1
211,153,2013-06-01 01:32:55,2013-06-01 01:35:28,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,NaN,NaN,NaN,NaN,20106,Subscriber,1987.0,1
289,841,2013-06-01 02:28:10,2013-06-01 02:42:11,509,9 Ave & W 22 St,40.745497,-74.001971,NaN,NaN,NaN,NaN,18792,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577559,357,2013-06-30 23:34:43,2013-06-30 23:40:40,174,E 25 St & 1 Ave,40.738177,-73.977387,NaN,NaN,NaN,NaN,19258,Subscriber,1986.0,1
577598,702,2013-06-30 23:41:28,2013-06-30 23:53:10,237,E 11 St & 2 Ave,40.730473,-73.986724,NaN,NaN,NaN,NaN,17208,Customer,NaN,0
577622,472,2013-06-30 23:44:15,2013-06-30 23:52:07,439,E 4 St & 2 Ave,40.726281,-73.989780,NaN,NaN,NaN,NaN,17565,Subscriber,1963.0,1
577635,1263,2013-06-30 23:47:47,2013-07-01 00:08:50,472,E 32 St & Park Ave,40.745712,-73.981948,NaN,NaN,NaN,NaN,16576,Subscriber,1956.0,1
577642,1108,2013-06-30 23:50:04,2013-07-01 00:08:32,311,Norfolk St & Broome St,40.717227,-73.988021,NaN,NaN,NaN,NaN,16694,Customer,NaN,0

In [17]:
df['start station name'].value_counts().head(10)

start station name
W 20 St & 11 Ave          5983
E 17 St & Broadway        5621
Broadway & W 58 St        5401
Broadway & E 14 St        5177
Broadway & W 24 St        4955
Central Park S & 6 Ave    4925
West Thames St            4800
West St & Chambers St     4529
Lafayette St & E 8 St     4432
8 Ave & W 31 St N         4409
Name: count, dtype: int64

In [18]:
df['end station name'].value_counts().head(10)

end station name
W 20 St & 11 Ave          5742
E 17 St & Broadway        5530
Broadway & W 58 St        5308
Central Park S & 6 Ave    5290
West Thames St            4871
Broadway & E 14 St        4865
Broadway & W 24 St        4758
West St & Chambers St     4470
9 Ave & W 14 St           4312
8 Ave & W 31 St N         4084
Name: count, dtype: int64